header(class="header")
  .nav
    ul
      li 
        a(class="border-bottom border-green" href="#") home
      li
        a(class="border-bottom border-red" href="#") project
      li
        a(class="border-bottom border-red" href="#") tags
      li ...
    a(href="/")
      h3 The mpr0xy of coding
    sub Beta
  
