extend layout
block content
  .container
    .content
      ul.thumbnails
        li
          .article 
            p this is a pop
        li
          .article
            p this is a push
    include widget