doctype
html()
  head
    meta(charset="utf-8")
    link(rel="stylesheet", href="/styles/main.css")
    link(rel="icon" href="favicon.ico" type="image/x-icon")
  body
    p Hello,World!
    block content