.widget-area
      .widget.widget-search
        form.form-inline(role='form')
          .form-group
            input.form-control.search(type='search', placeholder='search...')
      .widget.widget-about
        h3 这是我
        p 我是mpr0xy，一名web开发者，网络安全爱好者．
        p 这个博客用来使自己能逐渐提高．当然也为了读者．
        p
        p
          a.contact(href='#') @Github
      .widget.widget-category
        h3 Categories
        ul
        - for (var i = 0; i < widget.categories.length; i++)
          li.cat-item
            a(href='/category/'+widget.categories[i].name+'/' title="View all post under the"+widget.categories[i].name) 
              p #{widget.categories[i].name} (#{widget.categories[i].category.number})
      .widget.widget-tags
        h3 Tags
        .tagcloud
          - var color = ['#E6CC6E', '#37A7FF', '#6C9', '#B0D686', '#37A7FF', '#C9C', '#6CC', '#F96', '#F99', 'fuchsia', 'teal', 'chartreuse', 'mediumblue']
          - for (var i = 0; i < widget.tags.length; i++)
            a(href='/tags/'+widget.tags[i].name style='background-color: '+color[Math.floor(Math.random() * 1000) % color.length]) #{widget.tags[i].name}